# **640710542 นายผกาย เมืองแมน**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("student.csv")

In [3]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

In [4]:
# ตรวจสอบว่ามี missing value หรือไม่ (ได้ True/False)
df.isnull().values.any()

np.True_

In [5]:
# ดูว่าคอลัมน์ไหนมี missing และมีจำนวนเท่าไหร่
df.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       3
เพศ                        2
คณะ                        2
GPA                        2
ส่วนสูง_cm                 1
น้ำหนัก_kg                 2
ชั่วโมงเรียน_ต่อสัปดาห์    2
วันที่ลงทะเบียน            0
dtype: int64

In [6]:
# แทนค่า missing ใน Numeric
df['อายุ'] = df['อายุ'].fillna(df['อายุ'].median())
df['GPA'] = df['GPA'].replace({-1: np.nan})
df['GPA'] = df['GPA'].fillna(df['GPA'].mean())
df['ส่วนสูง_cm'] = df['ส่วนสูง_cm'].fillna(df['ส่วนสูง_cm'].median())
df['ชั่วโมงเรียน_ต่อสัปดาห์'] = df['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(df['ชั่วโมงเรียน_ต่อสัปดาห์'].median())

**อธิบายเหตุผลของบรรทัด**


1. df['อายุ'] = df['อายุ'].fillna(df['อายุ'].median())

เติมข้อมูลที่หายไป (missing value/NaN) ในคอลัมน์ "อายุ" ด้วยมัธยฐาน (median) ของคอลัมน์นั้น
เหตุผล: อายุเป็นข้อมูลที่อาจมี outlier หรือไม่กระจายปกติ เช่น ส่วนใหญ่ 18–22 ปี แต่มีบางคน 35 ปี หากเติม mean อาจทำให้ค่าสูง/ต่ำเกินจริง การใช้ median จะคำนวณจากค่ากลางของข้อมูลที่มีอยู่ จึงเหมาะสมกว่า


2. df['GPA'] = df['GPA'].replace({-1: np.nan})

แทนค่าที่มีค่าเป็น -1 ด้วย NaN (missing value)
เหตุผล: บางครั้งข้อมูลอาจถูกกรอกค่าผิด หรือใช้ -1 แทนค่าที่ไม่มีข้อมูลจริง (missing) การแปลง -1 เป็น NaN จะช่วยให้รู้ว่าค่าไหนที่หายไปจริง ๆ และจัดการต่อได้ง่ายขึ้น


3. df['GPA'] = df['GPA'].fillna(df['GPA'].mean())

เติมข้อมูล GPA ที่ว่าง (NaN) ด้วยค่าเฉลี่ย (mean)
เหตุผล: GPA มักกระจายเป็นปกติ ไม่ค่อยมี outlier มาก ค่าเฉลี่ยจึงสะท้อนความเป็นไปได้ของข้อมูลนักศึกษาโดยรวมได้ดี เป็นวิธีเติมข้อมูลที่ว่างที่นิยมใช้กับข้อมูลลักษณะนี้


4. df['ส่วนสูง_cm'] = df['ส่วนสูง_cm'].fillna(df['ส่วนสูง_cm'].median())

เติมส่วนสูงที่ว่าง (NaN) ด้วยค่า median (มัธยฐาน)
เหตุผล: ค่าส่วนสูงอาจมี outlier ได้ (เช่นบางคนกรอกผิดเป็น 30 หรือ 300 เซนติเมตร) การเติม median จะลดผลกระทบของ outlier และสะท้อนค่ากลางของข้อมูลส่วนสูงได้ดีกว่า mean


5. df['ชั่วโมงเรียน_ต่อสัปดาห์'] = df['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(df['ชั่วโมงเรียน_ต่อสัปดาห์'].median())

เติม "ชั่วโมงเรียนต่อสัปดาห์" ที่ว่าง (NaN) ด้วยมัธยฐาน (median)
เหตุผล: ชั่วโมงเรียนอาจมีค่าผิดปกติได้ เช่นบางคนติ๊ก 0 หรือ 50 ชั่วโมง หากใช้ mean แล้วอาจเพี้ยน การใช้ median จะสะท้อนค่าทั่วไปของผู้เรียนมากที่สุด


# **สรุปใจความ**
การเติม missing value (imputation) ด้วยมัธยฐาน (median) เหมาะกับข้อมูลที่มีโอกาสเกิด outlier เพื่อป้องกันการบิดเบือนของข้อมูลรวม
การเติมค่าด้วย mean (ค่าเฉลี่ย) นิยมใช้กับข้อมูลที่กระจายเป็นปกติและไม่มี outlier รุนแรง เช่น GPA
การแปลงค่าที่ไม่ปกติ (-1) ให้เป็น NaN ก่อน เป็นวิธีที่ช่วยให้จัดการค่าที่ผิดปกติหรือใช้แทน missing ได้ถูกต้อง

In [7]:
# แทนค่า missing ใน Categorical
df['เพศ'] = df['เพศ'].fillna('ไม่ระบุ')
df['คณะ'] = df['คณะ'].fillna('ไม่ระบุ')

# **อธิบายทีละบรรทัด**

1. df['เพศ'] = df['เพศ'].fillna('ไม่ระบุ')

ทำหน้าที่แทนค่าที่ขาดหาย (missing value หรือ NaN) ในคอลัมน์ "เพศ" ด้วยคำว่า "ไม่ระบุ"
เหตุผล: การแทนค่าด้วย "ไม่ระบุ" ทำให้ข้อมูลสมบูรณ์ ไม่ต้องลบบรรทัดออก และแยกแยะได้ว่าแถวนี้ไม่มีการระบุเพศจริง ๆ (แทนที่จะเดาว่าชายหรือหญิง) ซึ่งช่วยลดอคติและไม่บิดเบือนการวิเคราะห์ข้อมูล


2. df['คณะ'] = df['คณะ'].fillna('ไม่ระบุ')

ทำหน้าที่แทนค่าที่ขาดหาย (NaN) ในคอลัมน์ "คณะ" ด้วย "ไม่ระบุ"
เหตุผล: เช่นเดียวกันกับคอลัมน์ "เพศ" การแทนค่าด้วย "ไม่ระบุ" ช่วยให้สามารถเก็บข้อมูลครบทุกแถว และหลีกเลี่ยงการกำหนดค่าหมวดหมู่อื่นแทน (ซึ่งอาจสร้างอคติ) อย่างถูกต้อง โดยข้อมูลนี้จะมีประโยชน์หากต้องแยกวิเคราะห์ภายหลัง
ทำไมจึงไม่ควรเติมด้วยค่าที่พบบ่อยที่สุด (mode) ในกรณีนี้?
ถ้าเติมด้วยค่า mode (เช่น "ชาย"/"หญิง" หรือ "วิทยาศาสตร์") จะทำให้ข้อมูลเกิดความเอนเอียง เพราะเราไปสมมุติค่านั้นแทนซึ่งอาจไม่ถูกต้องจริง ๆ
เติม "ไม่ระบุ" ทำให้ข้อมูลเปิดเผยสถานะที่แท้จริงของการขาดหาย และสามารถเลือกวิเคราะห์หรือกรองเฉพาะข้อมูลที่ครบถ้วนได้ (เช่น วิเคราะห์แต่แถวที่ระบุเพศหรือคณะ)
# **สรุป**
การเติม "ไม่ระบุ" ในคอลัมน์ข้อมูลประเภท Categorical ช่วยรักษาความสมบูรณ์ของข้อมูล
ลดความลำเอียง (bias)
ไม่ทำให้ขนาดข้อมูลลดลงโดยไม่จำเป็น

In [8]:
# แทนค่าวันที่
df['วันที่ลงทะเบียน'] = df['วันที่ลงทะเบียน'].fillna(df['วันที่ลงทะเบียน'].mode()[0])

# **อธิบาย:**

  โค้ดนี้ใช้สำหรับเติมค่าที่หายไป (missing value/NaN) ในคอลัมน์ “วันที่ลงทะเบียน” ด้วย "mode" หรือค่าที่เกิดขึ้นบ่อยที่สุดในคอลัมน์นี้ (mode()[0] หมายถึงค่าที่พบบ่อยที่สุดลำดับแรก)


# **เหตุผลที่เหมาะสม:**
"วันที่ลงทะเบียน" มักหมายถึงวันที่นิสิตหรือนักศึกษาสมัครเรียนหรือกรอกข้อมูล ซึ่งโดยทั่วไปการเลือก “mode” เป็นวิธีที่ดีสำหรับข้อมูลวันที่กรณีที่วันที่เหล่านั้นจะเหมือนหรือคล้ายกัน เช่น ส่วนมากคนจะลงทะเบียนพร้อมกัน ถ้าใช้ค่าเฉลี่ย (mean) กับวันที่จะไม่ได้ใช้งานง่ายเหมือนค่าประเภทตัวเลข และ median ของวันที่ก็อาจเข้าใจยากหรือตีความลำบาก Mode คือวันที่ที่คนส่วนใหญ่ลงทะเบียนจริง จึงเหมาะที่จะเติมสำหรับค่า missing
วิธีนี้จะลดอคติ (bias) ที่จะเกิดจากการเดา หรือเติมวันที่ใหม่ที่ไม่มีในชุดข้อมูล

# **กรณีข้อมูลวันที่: เติมช่องว่างด้วยวันที่ที่พบบ่อยที่สุด (mode) เพราะวันที่เฉลี่ยหรือค่าว่างจะไม่มีความหมาย**

In [9]:
# ลบ row ที่น้ำหนัก เป็น NaN
df = df.dropna(subset=['น้ำหนัก_kg'])

# **อธิบาย:**

โค้ดนี้จะลบแถวข้อมูลที่ "น้ำหนัก_kg" มีค่า NaN หรือขาดหาย

# **เหตุผลที่เหมาะสม:**
โดยปกติ "น้ำหนัก" เป็นข้อมูลเชิงตัวเลขที่แตกต่างกันในแต่ละคนและไม่ควรสมมติหรือนำค่าอื่นมาเติมแทน (เช่น mean/median) เพราะอาจทำให้การวิเคราะห์ผิดเพี้ยน ยกตัวอย่างเช่น ถ้าต้องศึกษาความสัมพันธ์ระหว่างน้ำหนักกับสุขภาพหรือคุณลักษณะอื่น ๆ เราไม่ควรเติมเลขมั่ว ๆ ลงไป การลบแถวที่ไม่มีข้อมูล "น้ำหนัก" ออก จะช่วยให้วิเคราะห์ข้อมูลได้แม่นยำและถูกต้องกว่า
ยิ่งถ้าสัดส่วน missing มีน้อย การลบทิ้งจะกระทบข้อมูลส่วนน้อยเท่านั้น
# **กรณีข้อมูลน้ำหนัก: ลบทิ้งแถว เนื่องจากค่าที่หายไปเติมแทนกันไม่ได้ (Personal data) และเพื่อไม่ให้เกิด bias ในค่าทางสถิติ**

In [12]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.210000,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.450000,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,3.495882,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.890000,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.120000,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.500000,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.980000,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.340000,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.560000,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,21.0,ไม่ระบุ,ไม่ระบุ,3.780000,168.0,68.0,21.5,2024-01-07
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.230000,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.450000,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.670000,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.890000,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.010000,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,ไม่ระบุ,3.230000,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,21.0,ชาย,ศิลปศาสตร์,3.495882,174.0,76.0,21.5,2023-12-18
19,64020,ลัดดา,22.0,ไม่ระบุ,Science,3.450000,168.0,64.0,23.0,2024-01-06

In [13]:
# ดูอีกครั้งว่าคอลัมน์ไหนมี missing และมีจำนวนเท่าไหร่
df.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       0
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [14]:
# ตรวจสอบให้แน่ใจว่ามี missing value หรือไม่ (ได้ True/False)
df.isnull().values.any()

np.False_